<div class="row">
    <div class="col-md-12">
      <div class="card mt-5 mb-5 fluid text" *ngFor="let item of listaPostagens | orderBy : key :   reverse">
        <div *ngIf='!item.status'>
          <div class="row ">
            <div class="col-md-4 lado1">
              <img src="{{item.imagem}}">
            </div>
            <div class="col-md-8">
              <div class="card-block ">

                <h2 class="card-title mt-3 " style="font-size: 35px;">{{item.titulo}} <button
                    class=" btn btn-outline botao mr-3" [routerLink]="['/post-true', item.id]">
                    Marcar postagem
                  </button></h2>
                <h3 class="card-title " style="font-size: 25px; color: #2c2b2bcc ;">Postado por
                  {{item.usuario.nome}} <br> <small style="color: #2c2b2bcc;">Tema
                    {{item.tema.tema}}</small> </h3>


                <p style="font-size:20px;">{{item.descricao}}</p>

                <h5 class="espaco" style="color: #2c2b2bcc">
                  <small><br>Postado em {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:'HH:mm'}},
                    {{item.regiao}}
                  </small>
                </h5>

                <div class="mb-2 d-flex">

                    <button class=" btn btn-outline-info  botao mr-3 " [routerLink]="['/editar-post', item.id]">
                      Editar
                    </button>


                  
                    <button class="btn btn-outline-info botao mr-3" [routerLink]="['/delete-post', item.id]">
                      Apagar
                    </button>
                      

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5 mb-5 fluid ">
    <div class="row ">
      <div class="col-md-4 lado1">
        <img src="{{post.imagem}}" class="w-100">
      </div>
      <div class="col-md-8 ">
        <div class="card-block ">

          <h2 class="card-title mt-3 text" style="font-size: 35px;">{{post.titulo}}
            <button class="  btn btn-outline-info  botao mr-3" [routerLink]="['/post-true', post.id]">
              Marcar postagem
            </button>
          </h2>
          <h3 class="card-title text" style="font-size: 25px; color: #2c2b2bcc ;">Postado por
            {{post.usuario.nome}} <br> <small style="color: #2c2b2bcc;">
            </small> </h3>


          <p style="font-size:20px;">{{post.descricao}}</p>

          <h5 class="espaco" style="color: #2c2b2bcc">
            <small><br>Postado em {{post.data | date: 'dd/MM/yyyy'}} às {{post.data | date:'HH:mm'}},
              {{post.regiao}}
            </small>
          </h5>



          <div class="mb-2">
            <button class=" btn botao mr-4" [routerLink]="['/editar-post', post.id]">
              Editar
            </button>



            <button class="btn botao mr-4" [routerLink]="['/delete-post', post.id]">
              Apagar
            </button>



          </div>
        </div>
      </div>
    </div>
  </div>