<div class="row">
    <div class="col-md-12">
        <app-perfil-lateral></app-perfil-lateral>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="dados" class="col-md-8">

                    <div>
                        <div class="form-group">
                            <label for="titulo" class="text font-weight-bold">Titulo da postagem</label>
                            <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Digite aqui o seu titulo" [(ngModel)]="postagem.titulo">
                        </div>


                        <div class="form-group">
                            <label class="text font-weight-bold" for="regiao">Região</label>
                            <input type="text" class="form-control" id="regiao" placeholder="Digite aqui sua regiao" [(ngModel)]='postagem.regiao'>
                        </div>

                        <div class="form-group">
                            <label class="text font-weight-bold" for="descricao">Descrição da postagem</label>
                            <textarea class="form-control" id="descricao" rows="3" placeholder="Digite aqui a descrição da sua postagem" [(ngModel)]="postagem.descricao"></textarea>
                        </div>

                        <div class="form-group m-0">
                            <label class="text font-weight-bold" for="tema">Escolha um tema ou <a routerLink="/cadastrar-tema">Cadastre
                            um novo</a></label>
                            <select name="tema" id='tema' [(ngModel)]="idTema" (change)="findByIdTema()" class="form-control">
                        <option *ngFor="let item of listaTemas" value={{item.id}}>
                            {{item.tema}}
                        </option>
                    </select>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-outline-info w-100 botao" (click)="salvar()">Salvar</button>
                        </div>
                    </div>

                </div>

            </div>
            <button type="button" class="btn btn-outline-info w-10 botao">voltar</button>
        </div>
    </div>
</div>