

<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-right:30px">
            <h1>Titulo</h1>
            <p>
                SocialFood é um projeto integrador do curso da GenerationBrasil.
            </p>
            <p>
                Nosso objetivo é unir dois opostos - restaurantes, mercados e afins, e ONGs que auxiliam moradores de
                rua - para melhorar a vida de quem mais precisa.
            </p>
            <p>Nós faremos isso através de uma rede social, onde empresas que possuem comida em excesso postarão os
                tipos de alimentos que possuem, e as ONGs solicitarão esses alimentos para poder democratizar o acesso a
                comida para os necessitados.</p>

            <p>
                A ideia é ser uma ponte entre o excesso e a carência, pois sabemos que de um lado existe muito
                desperdício e do outro muita escassez.
            </p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 lado2">
           
        </div>
       

    </div>
</div>

<div class="jumbotron jumbotron-fluid jumboCss">
    <div class="container">
      <h1 class="display-4">Desenvolvedores</h1>
      <p class="lead">Este é um jumbotron modificado que ocupa todo o espaço horizontal de seu elemento pai.</p>
    </div>
  </div>

<!--cards-->


  <div class="container">
        <div class="col-md-12 lado">
            <div class="card border-0" style="width: 18rem; margin-right: 35px;">
  
                <aside class="profile-card">
            
                  <header>
                
                    <!-- here’s the avatar -->
                    <a href="https://tutsplus.com">
                      <img src="https://avatars0.githubusercontent.com/u/72394004?s=460&u=b76c04d5d8466ab07ac8e93e64faca1c0a3f80f7&v=4">
                    </a>
                
                    <!-- the username -->
                    <h1>Marcos </h1>
                
                    <!-- and role or location -->
                    <h2>DEVELOPER</h2>
                
                  </header>
                
                  <!-- bit of a bio; who are you? -->
                  <div class="profile-bio">
                
                    <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
                
                  </div>
                
                  <!-- some social links to show off -->
                  <ul class="profile-social-links ">
                
                    <!-- twitter - el clásico  -->
                    <li>
                      <a href="https://twitter.com/tutsplus">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
                      </a>
                    </li>
                
                    <!-- codepen - your codepen profile-->
                    <li>
                      <a href="https://github.com/marcosv11">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
                      </a>
                    </li>
            
                    <li>
                      <a href="#">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
                      </a>
                    </li>
                
                    <!-- envato – use this one to link to your marketplace profile -->
                   
                  </ul>
                  
                </aside>  
                    
              </div>

              <div class="card border-0" style="width: 18rem; margin-right: 35px;">
  
                <aside class="profile-card">
            
                  <header>
                
                    <!-- here’s the avatar -->
                    <a href="https://tutsplus.com">
                      <img src="https://avatars3.githubusercontent.com/u/69003421?s=460&u=ef54115ea2585613a56965b343ef2f7b773a14c7&v=4">
                    </a>
                
                    <!-- the username -->
                    <h1>Estela </h1>
                
                    <!-- and role or location -->
                    <h2>DEVELOPER</h2>
                
                  </header>
                
                  <!-- bit of a bio; who are you? -->
                  <div class="profile-bio">
                
                    <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
                
                  </div>
                
                  <!-- some social links to show off -->
                  <ul class="profile-social-links ">
                
                    <!-- twitter - el clásico  -->
                    <li>
                      <a href="https://twitter.com/tutsplus">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
                      </a>
                    </li>
                
                    <!-- codepen - your codepen profile-->
                    <li>
                      <a href="https://github.com/marcosv11">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
                      </a>
                    </li>
            
                    <li>
                      <a href="#">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
                      </a>
                    </li>
                
                    <!-- envato – use this one to link to your marketplace profile -->
                   
                  </ul>
                  
                </aside>  
                    
              </div>

              <div class="card border-0" style="width: 18rem; margin-right: 35px;">
  
                <aside class="profile-card">
            
                  <header>
                
                    <!-- here’s the avatar -->
                    <a href="https://tutsplus.com">
                      <img src="https://avatars0.githubusercontent.com/u/72326473?s=460&u=845062d4e9b6aff1bc6fc403428b3025ff782f00&v=4">
                    </a>
                
                    <!-- the username -->
                    <h1>Lucas</h1>
                
                    <!-- and role or location -->
                    <h2>DEVELOPER</h2>
                
                  </header>
                
                  <!-- bit of a bio; who are you? -->
                  <div class="profile-bio">
                
                    <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
                
                  </div>
                
                  <!-- some social links to show off -->
                  <ul class="profile-social-links ">
                
                    <!-- twitter - el clásico  -->
                    <li>
                      <a href="https://twitter.com/tutsplus">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
                      </a>
                    </li>
                
                    <!-- codepen - your codepen profile-->
                    <li>
                      <a href="https://github.com/marcosv11">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
                      </a>
                    </li>
            
                    <li>
                      <a href="#">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
                      </a>
                    </li>
                
                    <!-- envato – use this one to link to your marketplace profile -->
                   
                  </ul>
                  
                </aside>  
                    
              </div>


              
        </div>
    
  </div>

  <div class="container">
    <div class="col-md-12 lado">
        <div class="card border-0" style="width: 18rem; margin-right: 35px;">

            <aside class="profile-card">
        
              <header>
            
                <!-- here’s the avatar -->
                <a href="https://tutsplus.com">
                  <img src="https://avatars2.githubusercontent.com/u/72388004?s=460&u=0d5ba5d1eb45a654fba8fabea4acfe85abb1e2f1&v=4">
                </a>
            
                <!-- the username -->
                <h1>Luisa </h1>
            
                <!-- and role or location -->
                <h2>DEVELOPER</h2>
            
              </header>
            
              <!-- bit of a bio; who are you? -->
              <div class="profile-bio">
            
                <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
            
              </div>
            
              <!-- some social links to show off -->
              <ul class="profile-social-links ">
            
                <!-- twitter - el clásico  -->
                <li>
                  <a href="https://twitter.com/tutsplus">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
                  </a>
                </li>
            
                <!-- codepen - your codepen profile-->
                <li>
                  <a href="https://github.com/marcosv11">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
                  </a>
                </li>
            
                <!-- envato – use this one to link to your marketplace profile -->
               
              </ul>
              
            </aside>  
                
          </div>

          <div class="card border-0" style="width: 18rem; margin-right: 35px;">

            <aside class="profile-card">
        
              <header>
            
                <!-- here’s the avatar -->
                <a href="https://tutsplus.com">
                  <img src="https://media-exp1.licdn.com/dms/image/C5603AQGushQYuVTfSA/profile-displayphoto-shrink_800_800/0?e=1612396800&v=beta&t=4sFtxC2RK84R7rtBje7oUL91UsAmYNFVq8DFXI4M5sg">
                </a>
            
                <!-- the username -->
                <h1>Jessica </h1>
            
                <!-- and role or location -->
                <h2>DEVELOPER</h2>
            
              </header>
            
              <!-- bit of a bio; who are you? -->
              <div class="profile-bio">
            
                <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
            
              </div>
            
              <!-- some social links to show off -->
              <ul class="profile-social-links ">
            
                <!-- twitter - el clásico  -->
                <li>
                  <a href="https://twitter.com/tutsplus">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
                  </a>
                </li>
            
                <!-- codepen - your codepen profile-->
                <li>
                  <a href="https://github.com/marcosv11">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
                  </a>
                </li>
            
                <!-- envato – use this one to link to your marketplace profile -->
               
              </ul>
              
            </aside>  
                
          </div>

          <div class="card border-0" style="width: 18rem; margin-right: 35px;">

            <aside class="profile-card">
        
              <header>
            
                <!-- here’s the avatar -->
                <a href="https://tutsplus.com">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGdWbWSxK6fiQ/profile-displayphoto-shrink_800_800/0/1570481168467?e=1612396800&v=beta&t=y6BYVFdQR22A818rsqdqw71qBgtw3k4X344zz7u28Eg">
                </a>
            
                <!-- the username -->
                <h1>Laura</h1>
            
                <!-- and role or location -->
                <h2>DEVELOPER</h2>
            
              </header>
            
              <!-- bit of a bio; who are you? -->
              <div class="profile-bio">
            
                <p>Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.</p>
            
              </div>
            
              <!-- some social links to show off -->
              <ul class="profile-social-links ">
            
                <!-- twitter - el clásico  -->
                <li>
                  <a href="https://twitter.com/tutsplus">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
                  </a>
                </li>
            
                <!-- codepen - your codepen profile-->
                <li>
                  <a href="https://github.com/marcosv11">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384012.svg">
                  </a>
                </li>
            
                <!-- envato – use this one to link to your marketplace profile -->
               
              </ul>
              
            </aside>  
                
          </div>


          
    </div>

</div>

<!--/cards-->


  