<body>
  <!--Texto e Vídeo-->
  <div class="container">
    <div class="row texto">
      <div class="col-md-6 " style="padding-right:30px">

        <h1>SocialFood</h1>

        <p>
          SocialFood é um projeto integrador do curso da GenerationBrasil.
        </p>

        <p>
          Nosso objetivo é unir dois opostos - restaurantes, mercados e produtores, e ONGs que auxiliam moradores de
          rua - para melhorar a vida de quem mais precisa.
        </p>

        <p>
          Com a nossa rede social Social Food, empresas que possuem comida em excesso postarão os tipos e quantidades de
          alimentos que possuem, e as ONGs cadastradas solicitarão esses alimentos para poder democratizar o acesso a
          comida para os necessitados.
        </p>

        <p>
          A ideia é ser uma ponte entre o excesso e a carência, pois sabemos que de um lado existe muito
          desperdício e do outro muita escassez.
        </p>
      </div>

      <div class="col-md-6 lado2 mt-5">
        <div class="embed-responsive embed-responsive-16by9">

          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            allowfullscreen></iframe>

        </div>
      </div>

    </div>
  </div>
  <!--/Texto e Vídeo-->

  <!--Jubotron-->
  <div class="jumbotron jumbotron-fluid jumboCss">
    <div class="container">

      <h1 class="display-4">Desenvolvedores</h1>

      <p class="lead">
        Aprenda mais sobre a nossa equipe de desenvolvimento!
      </p>

    </div>
  </div>
  <!--/Jubotron-->

  <!--Cards Primeira Linha-->
  <div class="container">
    <div class="col-md-12 lado">

      <!--Card Marcos-->
      <div class="card border-0" style="width: 18rem; margin-right: 35px;">
        <aside class="profile-card">
          <header>

            <a href="">
              <img src="https://i.ibb.co/71Mdqcc/marcos-Fundo-Newborn.jpg">
            </a>

            <h1>Marcos</h1>

            <h2 style="padding-bottom: 5px">DEVELOPER</h2>

          </header>

          <div class="profile-bio">
            <p>
              Sou Desenvolvedor Full Stack Java Jr e Técnico em Eletrônica, atualmente estou cursando Sistemas de
              Informação, sou muito atento aos detalhes e um entusiasta nato em tecnologia.
            </p>
          </div>

          <ul class="profile-social-links">

            <li>
              <a href="https://www.linkedin.com/in/marcos-vinicius-1b58411a2/" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
              </a>
            </li>

            <li>
              <a href="https://github.com/marcosv11" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
              </a>
            </li>

          </ul>

        </aside>
      </div>
      <!--/Card Marcos-->

      <!--Card Estela-->
      <div class="card border-0" style="width: 18rem; margin-right: 35px;">
        <aside class="profile-card">

          <header>

            <a href="">
              <img src="https://i.ibb.co/FgWxPKt/estela-fundo-newborn.jpg">
            </a>

            <h1>Estela</h1>

            <h2>DEVELOPER</h2>

          </header>

          <div class="profile-bio">
            <p>
              Meu nome é Estela Maria, sou Educadora, Cientista e Desenvolvedora Full Stack Java Jr. Fascinada por arte,
              conectar pessoas, diversidade e o universo.
            </p>
          </div>

          <ul class="profile-social-links ">

            <li>
              <a href="https://www.linkedin.com/in/linkdindaestela/" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
              </a>
            </li>

            <li>
              <a href="https://github.com/githubdaestela" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
              </a>
            </li>

          </ul>

        </aside>
      </div>
      <!--/Card Estela-->

      <!--Card Lucas-->
      <div class="card border-0" style="width: 18rem; margin-right: 35px;">
        <aside class="profile-card">

          <header>

            <a href="">
              <img src="https://i.ibb.co/C2fRXC2/lucas-Fundo-Newborn-Dois.jpg">
            </a>

            <h1>Lucas</h1>

            <h2>DEVELOPER</h2>

          </header>

          <div class="profile-bio">
            <p>
              Desenvolvedor full stack formado pela Generation, adoro tecnologia, jogos e sou apaixonado pelo desafio de
              aprender e me superar constantemente.
            </p>
          </div>

          <ul class="profile-social-links ">

            <li>
              <a href="https://www.linkedin.com/in/lucas-silva-trevizan-1191b51a7/" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
              </a>
            </li>

            <li>
              <a href="https://github.com/LucasTrevizanbr" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
              </a>
            </li>

          </ul>

        </aside>
      </div>
      <!--/Card Lucas-->

    </div>
  </div>
  <!--/Cards Primeira Linha-->

  <!--Cards Segunda Linha-->
  <div class="container">
    <div class="col-md-12 lado">

      <!--Card Luisa-->
      <div class="card border-0" style="width: 18rem; margin-right: 35px;">
        <aside class="profile-card">

          <header>

            <a href="">
              <img src="https://i.ibb.co/XpQ0c1x/luisa-Fundo-Newborn.jpg">
            </a>

            <h1>Luisa </h1>

            <h2>DEVELOPER</h2>

          </header>

          <div class="profile-bio">
            <p>
              Completar
            </p>
          </div>

          <ul class="profile-social-links ">

            <li>
              <a href="https://www.linkedin.com/in/luisapataquini/" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
              </a>
            </li>

            <li>
              <a href="https://github.com/luisapataquini" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
              </a>
            </li>

          </ul>

        </aside>
      </div>
      <!--/Card Luisa-->

      <!--Card Jessica-->
      <div class="card border-0" style="width: 18rem; margin-right: 35px;">
        <aside class="profile-card">

          <header>

            <a href="">
              <img src="https://i.ibb.co/DgWrTxc/jessica-Fundo-Newborn.jpg">
            </a>

            <h1>Jessica </h1>

            <h2>DEVELOPER</h2>

          </header>

          <div class="profile-bio">
            <p>
              Completar
            </p>
          </div>

          <ul class="profile-social-links ">

            <li>
              <a href="https://www.linkedin.com/in/jessica-cordeiro2/" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
              </a>
            </li>

            <li>
              <a href="https://github.com/JessCordeiro" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
              </a>
            </li>

          </ul>

        </aside>
      </div>
      <!--/Card Jessica-->

      <!--Card Laura-->
      <div class="card border-0" style="width: 18rem; margin-right: 35px;">
        <aside class="profile-card">

          <header>

            <a href="">
              <img src="https://i.ibb.co/Y8v2p05/laura-Fundo-Newborn.jpg">
            </a>

            <h1>Laura</h1>

            <h2>DEVELOPER</h2>

          </header>

          <div class="profile-bio">
            <p>
              Completar
            </p>
          </div>

          <ul class="profile-social-links ">

            <li>
              <a href="https://www.linkedin.com/in/laurabrosens/" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384014.svg">
              </a>
            </li>

            <li>
              <a href="https://github.com/LauraBrosens" target="_blank">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111432.svg">
              </a>
            </li>

          </ul>

        </aside>
      </div>
      <!--/Card Laura-->

    </div>
  </div>
  <!--/Cards Segunda Linha-->

</body>
   