<div class="container">
    <div class="row">
        <div class="col-md-5" style="padding-right:30px">
            <h1>Titulo</h1>
            <p>
                SocialFood é um projeto integrador do curso da GenerationBrasil.
            </p>
            <p>
                Nosso objetivo é unir dois opostos - restaurantes, mercados e afins, e ONGs que auxiliam moradores de
                rua - para melhorar a vida de quem mais precisa.
            </p>
            <p>Nós faremos isso através de uma rede social, onde empresas que possuem comida em excesso postarão os
                tipos de alimentos que possuem, e as ONGs solicitarão esses alimentos para poder democratizar o acesso a
                comida para os necessitados.</p>

            <p>
                A ideia é ser uma ponte entre o excesso e a carência, pois sabemos que de um lado existe muito
                desperdício e do outro muita escassez.
            </p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona
                                como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional.</p>
                            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro,
                                para mostrar a altura igual, em ação.</p>
                            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona
                                como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional.</p>
                            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src=".../100px200/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro,
                                para mostrar a altura igual, em ação.</p>
                            <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>