<div class="row">
    <div class="col-md-12">
      <app-perfil-lateral></app-perfil-lateral>
    </div>
  </div> 
  
  <div class="container">
  
      <div class="row ">
          <div class="col-md-12">
            <div class="card mt-5 mb-5 fluid">
              <div class="row ">
                  <div class="col-md-4 lado1">
                      <img src="{{postagem.imagem}}" class="w-100">   
                  </div>
                  <div class="col-md-8 ">
                      <div class="card-block ">
                          <h5 class="espaco" style="color: rgba(44, 43, 43, 0.8)">{{postagem.titulo}}<small><br>Postado em {{postagem.data | date: 'dd/MM/yyyy'}} às {{postagem.data | date:'HH:mm'}}, {{postagem.regiao}}.</small></h5>
                       
                          <h4 class="card-title ">{{postagem.tema.tema}}</h4>
                          <h5 class="card-title ">Postado por {{postagem.usuario.nome}}</h5>
          
                          <p>{{postagem.descricao}}<p>
                      </div>
                  </div>
              </div>
            </div> 
          
          </div>
      </div>
    </div>
    <hr class="mt-4 mb-4">
  
   <h5 class="text-center">Quer selecionar esssa postagem?</h5>
   <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-outline-success mr-3" (click)="postagemTrue()">Sim</button>
      <button class="btn btn-outline-danger" (click)="btnNao()" >Não</button>
   </div>
