<body>

    <!-----------HTML Banner Um------------>
    <section class="banner_um">
        <div class="banner_inner d-flex align-items-center">
            <div class="maos_um"></div>
            <div class="morango"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
                        <div>
                            <h3>Social Food.<br /><small>de quem tem <br>para quem precisa</small></h3>

                            <p class="p_banner_um">Nosso projeto se propõe a expandir a comunidade de doação de
                                alimentos. Nosso
                                comprometimento é ajudar quem precisa, acima de
                                tudo</p>
                            <button type="button" class="btn_banner" routerLink='/sobre-nos'>Veja mais sobre</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-----------/HTML Banner Um------------>


    <!-----------HTML Banner Dois------------>
    <section class="banner_dois">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5" style="padding-top: 5%; padding-bottom: 5%;">
                    <div class="pb-5 pr-5">
                        <h4>Conectando<br>Empresas com ONGs</h4>
                        <h6></h6>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="padding-right: 25px;">
                            <h5>Doadores</h5>
                            <p>Restaurantes, mercados, e produtores poderão anunciar excessos de produtos,
                                pondo-os a disposição de ONGs para captação</p>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <h5>Receptores</h5>
                            <p>As ONGs parceiras ficariam responsáveis pela captação, preparo e distribuição dos
                                alimentos para as pessoas em situação de vulnerabilidade</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7" >
                    <img class="img-fluid"
                        src="https://ouch-cdn.icons8.com/preview/704/f07c010f-a245-4122-8cea-daa41dba83e2.png" alt="" >
                </div>
            </div>
        </div>
    </section>
    <!-----------/HTML Banner Dois------------>

    <!-----------HTML Banner Três------------>
    <section class="banner_três">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="bg_abacaxi"></div>
                <div class="maos_tres"></div>
                <div class="abacaxi"></div>
                <div class="row align-items-center">
                    <div class="offset-lg-6 col-lg-6" style="color:white">
                        <div class="area-heading light">
                            <h4>Conexões <br>que alimentam</h4>
                            <p>Boa parte dos alimentos produzidos e colocados em prateleiras acabam indo ao lixo. Para
                                minimizar essa perda, só falta um empurrãozinho</p>
                        </div>
                        <div class="row">
                            <div class="col-">
                                <div class="d-flex">
                                    <div class="pl-5">
                                        <h5>De quem tem...</h5>
                                        <p>Segundo o instituto Akatu<sup><a
                                                    href="https://www.akatu.org.br/akatu-na-midia/fantastico-familia-brasileira-joga-fora-em-media-um-quilo-de-alimentos-por-dia/"
                                                    target="_blank">[1]</a></sup>, 41 mil toneladas de comida são
                                            desperdiçados diariamente, o que poderia alimentar 25 milhões de brasileiros
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-">
                                <div class="d-flex">
                                    <div class="pl-5">
                                        <h5>...pra quem precisa</h5>
                                        <p>Segundo o IBGE<sup><a href="https://www.bbc.com/portuguese/brasil-54288952"
                                                    target="_blank">[1]</a></sup>, 10 milhões de brasileiros passam
                                            fome. A
                                            conta não inclui pessoas em situação de rua</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-----------/HTML Banner Três------------>


    <!-----------HTML Banner Quatro------------>
    <section class="statics-area area-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                        <h4>Democratizando<br>o acesso a comida </h4>
                        <h6>ONGs recebem e distribuem os alimentos a quem precisa </h6>

                        <p>Ao doar alimentos, eles serão direcionados às ONGs cadastradas, que se encarregarão do
                            preparo e da distribuição dos mesmos, facilitando o acesso à alimentos seguros e nutritivos
                            para pessoas em situação de vulnerabilidade</p>
                        <p><em class="check">✓</em> Ajudando os outros
                        <p><em class="check">✓</em> Sem desperdício
                        <p><em class="check">✓</em> Atendendo necessidades</p>
                </div>
                <div class="col-lg-7">
                    <img class="img-fluid" src="https://imgur.com/ViP3QTK.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-----------HTML Banner Quatro------------>

    <!---JavaScript Opcional
    <script src="/src/app/js/jquery-2.2.4.min.js"></script> 
    --->
</body>