<body>

    <!--================Header Menu Area =================-->

    <!--================Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="home_banner_area" data-type="background" data-speed="10">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
                        <div class="banner_content">
                            <h3>Social Food.<br /><small>de quem tem <br></small><small>para quem precisa</small></h3>

                            <p>Nosso projeto se propõe a expandir a comunidade de doação de alimentos. Nosso
                                comprometimento é ajudar quem precisa, acima de
                                tudo</p>
                            <a class="banner_btn" routerLink='/sobre-nos'>veja mais sobre
                                <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <!--================Service Area end =================-->


    <!--================About  Area =================-->
    <section class="about-area area-padding-bottom" data-type="background" data-speed="10">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="area-heading">
                        <br>
                        <br>
                        <h4>Conectando<br>Empresas com ONGs</h4>
                        <h6></h6>

                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-thought"></i>
                                </div>
                                <div class="single-about-content" style="padding-right: 15px;">
                                    <h5>Doadores</h5>
                                    <p>Restaurantes, mercados, e produtores poderão anunciar excessos de produtos,
                                        pondo-os a disposição de ONGs para captação</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-truck"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>Receptores</h5>
                                    <p>As ONGs parceiras ficariam responsáveis pela captação, preparo e distribuição dos
                                        alimentos para as pessoas em situação de vulnerabilidade</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->

    <!--================Feature  Area =================-->
    <section class="feature-area area-padding bg_one" data-type="background" data-speed="10">
        <div class="container">
            <div class="row align-items-center">

                <div class="offset-lg-6 col-lg-6">
                    <div class="area-heading light">
                        <h4>Conexões <br>que alimentam</h4>
                        <p>Boa parte dos alimentos produzidos e colocados em prateleiras acabam indo ao lixo. Para
                            minimizar essa perda, só falta um empurrãozinho</p>
                    </div>
                    <div class="row">
                        <div class="col-">
                            <div class="single-feature d-flex">
                                <div class="feature-icon" style="visibility: hidden;">
                                    <i class="ti-layers"></i>
                                </div>
                                <div class="single-feature-content">
                                    <h5>De quem tem...</h5>
                                    <p>Segundo o instituto Akatu<sup><a
                                                href="https://www.akatu.org.br/akatu-na-midia/fantastico-familia-brasileira-joga-fora-em-media-um-quilo-de-alimentos-por-dia/"
                                                target="_blank">[1]</a></sup>, 41 mil toneladas de comida são
                                        desperdiçados diariamente, o que poderia alimentar 25 milhões de brasileiros</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="single-feature d-flex">
                                <div class="feature-icon" style="visibility: hidden;">
                                    <i class="ti-layers"></i>
                                </div>
                                <div class="single-feature-content">
                                    <h5>...pra quem precisa</h5>
                                    <p>Segundo o IBGE<sup><a href="https://www.bbc.com/portuguese/brasil-54288952"
                                                target="_blank">[1]</a></sup>, 10 milhões de brasileiros passam fome. A
                                        conta não inclui pessoas em situação de rua</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Feature Area End =================-->


    <!--================About  Area =================-->
    <section class="statics-area area-padding" data-type="background" data-speed="10">
        <div class="container">
            <div class="row " style="align-items: center;">

              

                <div class="col-lg-5">
                    <div class="area-heading">
                        <h4>Democratizando<br>o acesso a comida </h4>
                        <h6>ONGs recebem e distribuem os alimentos a quem precisa </h6>

                        <p>Ao doar alimentos, eles serão direcionados às ONGs cadastradas, que se encarregarão do
                            preparo e da distribuição dos mesmos, facilitando o acesso à alimentos seguros e nutritivos
                            para pessoas em situação de vulnerabilidade</p>
                    </div>
                    <div class="single-data">
                        <i class="ti-paint-bucket"></i>
                        <p><em style="font-size: 26px; font-weight: bold; font-style: normal;">✓</em> Ajudando os outros
                        </p>
                    </div>
                    <div class="single-data">
                        <i class="ti-check-box"></i>
                        <p><em style="font-size: 26px; font-weight: bold; font-style: normal;">✓</em> Sem desperdício
                        </p>
                    </div>
                    <div class="single-data">
                        <i class="ti-ruler-pencil"></i>
                        <p><em style="font-size: 26px; font-weight: bold; font-style: normal;">✓</em> Atendendo
                            necessidades</p>
                    </div>

                </div>
                <div class="col-lg-7" >
                        <img class="img-fluid" src="https://imgur.com/ViP3QTK.png" alt="" style="">
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->

    <script src="/src/app/js/jquery-2.2.4.min.js"></script> <!-- <script src="js/jquery-2.2.4.min.js"></script>-->
    <script src="/src/app/js/theme.js"></script>

    <!--Scrool com JQuery-->
    <script src="jquery.js"></script>
    <script>
    $(document).ready(function(){
        $('section[data-type="background"]').each(function(){
             var $bgobj = $(this); // assigning the object
    
            $(window).scroll(function() {
            var yPos = -($window.scrollTop() / $bgobj.data('speed')); 
            
            // Put together our final background position
            var coords = '50% '+ yPos + 'px';

            // Move the background
            $bgobj.css({ backgroundPosition: coords });
            }); 
        });    
    });
    </script>


</body>