<div class="container">



        <div class="row text">
            <div class="col-md-12">
                <div class="card mt-5 mb-5 fluid" *ngFor="let item of listaPostagens | orderBy : key :   reverse">
                    
                        <div class="row ">
                          <div class="col-md-4 lado1">
                              <img src="{{item.imagem}}" class="w-100">
                          </div>
                          <div class="col-md-8 ">
                              <div class="card-block ">
                  
                                  <h2 class="card-title mt-3 " style="font-size: 35px;">Aqui é o titulo: {{item.titulo}} <button
                                          class="btn btn-outline mr-4 botao" [routerLink]="['/desmarcar-post', item.id]">
                                          Desmarcar postagem
                                      </button></h2>
                                  <h3 class="card-title " style="font-size: 25px; color: #2c2b2bcc ;">Postado por:
                                      {{item.usuario.nome}} <br> <small style="color: #2c2b2bcc;">Aqui é o tema:
                                          {{item.tema.tema}}</small> </h3>
                  
                  
                                  <p style="font-size:20px;">{{item.descricao}}</p>
                  
                                  <h5 class="espaco" style="color: #2c2b2bcc">
                                      <small><br>Postado em {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:'HH:mm'}},
                                          {{item.regiao}}
                                      </small>
                                  </h5>
                  
                  
                  
                                  <div class="mb-2">
                                      <button class=" btn btn-outline botao mr-4" [routerLink]="['/editar-post', item.id]">
                                          Editar
                                      </button>
                  
                  
                  
                                      <button class="btn btn-outline botao mr-4" [routerLink]="['/delete-post', item.id]">
                                          Apagar
                                      </button>
                  
                  
                  
                                  </div>
                              </div>
                          </div>
                      </div>
                    
                  </div>  
            </div>
               
        </div>         
 </div>



