<div class="row">
    <div class="col-md-12">
        <app-perfil-lateral></app-perfil-lateral>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card mt-5 mb-5" *ngFor="let item of listaPostagens | orderBy : key : reverse">
                <div *ngIf='item.status'>
                    <div class="card-header">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8">
                                <h5 class="card-title">O titulo é esse: {{item.titulo}} </h5>
                                <h5 class="card-title">O tema é esse: {{item.tema.tema}}</h5>
                                <h5 class="card-title">Quem postou foi: {{item.usuario.nome}}</h5>
                                <h5 class="card-title">A região é essa: {{item.regiao}}</h5>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">

                                <div *ngIf='auth.userOng()'>
                                    <button class="mr-3 btn btn-outline-info"
                                        [routerLink]="['/editar-post', item.id]">
                                        Editar
                                    </button>
                                </div>

                                <div *ngIf='auth.userOng()'>
                                    <button class="btn btn-outline-danger ml-3"
                                        [routerLink]="['/delete-post', item.id]">
                                        Apagar
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text" aria-describedby="texto">Isso é minha descricao
                            :{{item.descricao}} </p>
                        <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">
                            Postado em {{item.data | date: 'dd/MM/yyyy'}} às {{item.data |
                            date:'HH:mm'}}</small>
                    </div>
                    <img class="card-img-bottom" src="{{item.imagem}}" alt="Imagem de capa do card">
                </div>

            </div>
        </div>
    </div>
 </div>