<div class="container tudo">
    <div class="row">
        <div class="col-md-4 login-sec">

            <h2 class="text-center">Cadastre-se :)</h2>

            <label class="form-group font-weight-bold"> Você é uma ONG?
                <input type="checkbox" [(ngModel)]="user.ong" data-md-icheck (change)="marcarCheckbox($event)" />
                 <span class="checkmark" *ngIf="this.user.ong">Sim</span><span *ngIf="!this.user.ong">Não</span>
            </label>

            <div class="form-group">
                <label for="nome" class="font-weight-bold ">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" [(ngModel)]='user.nome'>
            </div>

            <div class="form-group">
                <label for="email" class="font-weight-bold ">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" [(ngModel)]='user.email'>
            </div>

            <div class="form-group">
                <label for="senha" class="font-weight-bold e">Senha:</label>
                <input type="password" class="form-control" id="senha" placeholder="Digite uma senha" (input)='conferirSenha($event)' value='{{senha}}'>
            </div>

            <div class="form-group">
                <label for="senhaConf" class="font-weight-bold">Confirmar Senha:</label>
                <input type="password" class="form-control" id="senhaConf" placeholder="Confirme a senha" [(ngModel)]='user.senha'>
            </div>

            <div class="form-group mt-6 btn-2">
                <button type="submit" class="btn btn-cadastro width100 btn-1" (click)='cadastrar()'>Cadastrar</button>
            </div>

        </div>
        <div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner" role="listbox"> </div>

            </div>
        </div>
    </div>
</div>