
    <div class="container tudo">
      <div class="row">
        <div class="col-md-4 login-sec">
          <h2 class="text-center">Entre :)</h2>
          
            <div class="form-group">
              <label for="exampleInputEmail1" class="font-weight-bold ">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedb="emailHelp" placeholder ="seu email" [(ngModel)]='userLogin.email' >
  
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="font-weight-bold" >Senha</label>
              <input type="password" class="form-control" id="exampleInputEmail1" aria-describedb="emailHelp" placeholder ="sua senha" [(ngModel)]='userLogin.senha'>
            </div>
  
           
            <div class="form-group mt-3 botones2">
                <button type="submit" class="btn btn-login width100 botones" (click) = 'entrar()' >Entrar</button>
            </div>
  
         
         <!-- <div class="copy-text"></div> -->
        </div>
        <div class="col-md-8 banner-sec">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              
            <div class="carousel-inner" role="listbox">
  
            </div>
  
          </div>
        </div>
      </div>
</div>   
    
     