<div class="container ">
    <div class="row ">
        <div class="col-md-12">
            <h1 class="text-center mt-5">Login</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center ">
        <div class="col-md-6">
            <div class = "form-group">
                <label for="exampleInputEmail1" class="font-weight-bold ">Endereço de email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedb="emailHelp" placeholder ="seu email">
                <small id="emailHelp" class="form-text ">Nunca vamos compartilhar seu email, com ninguém</small>
            </div>
            <div class = "form-group">
                <label for="exampleInputEmail1" class="font-weight-bold ">Senha</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedb="emailHelp" placeholder ="sua senha">
            </div>
            <div class="d-flex justify-content-center mb-5">
                <button type="submit" class="btn btn-outline-danger w-25" >Entrar</button>
            </div>
            
        </div>
    </div>
</div>