<!-- Footer -->
<footer class="bg-cor pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Github do Projeto</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="https://github.com/GenerationSocialTech" target="_blank"  title="Github">
                 <fa-icon [icon]="faGithub" class="FaGithub fa-3x p-3"></fa-icon>
                </a></li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright rodape-cor text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" routerLink="/sobre-nos">SocialFood team</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->