/* footer social icons */


.rodape-cor{
  background: linear-gradient(90deg, rgba(255,63,96,1) 0%, rgba(223,93,78,1) 100%);

}

ul.social-network {
    list-style: none;
    display: inline;
  
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }
  
  .faGithub{
      color:black;
  }
  
  .faGithub:hover{
    color:grey;
  }